
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.header {
    display: grid;
    background-color: #fafaf8;
    border: 1px solid #fafaf8;
}

.header-div {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: white;
    border-bottom: 20px;
    z-index: 10;
}

.top-header {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 0.75rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.left-header {
    font-size: 13px;
    display: none;
}

.left-ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    display: none;
}

.left-ul li a {
    text-decoration: none;
    color: black;
}

.right-header {
    font-size: 13px;
    display: flex;
}

.right-ul {
    display: flex;
    color: black;
    list-style-type: none;
    text-decoration: none;
    gap: 40px;
    text-decoration-line: none;
    display: none;

}

.right-ul span {
    display: inline-block;
    background-color: #855d25;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 10px;
    color: white;
    top: -6px;
    right: -5px;

}

.right-ul li a {
    text-decoration: none;
    color: black;
    position: relative;
}

/* .right-header {
    background-color: rgb(218, 21, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
} */

.main-header {
    padding: 0 10px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    letter-spacing: 6px;
    text-transform: capitalize;
    text-align: center;
    font-style: normal;

}


.menu-btn {
    width: 20px;
    height: 20px;
    /* background: none; */
    color: black;
    border-style: none;
}

.menu-btn img {
    width: 100%;
    height: 100%;
}

/* header */


@media (min-width:576px) {
    .right-ul {
        display: flex;
    }

    .header-div {
        padding: 10px 20px;
    }
}


@media (min-width:766px) {
    .menu-btn {
        display: none;
    }

    .left-header {
        display: flex;
    }

    .left-ul {
        display: flex;
    }

    .header-div {
        padding: 10px 30px;
    }

    .section {
        flex-direction: row;
    }
}

@media (min-width:1015px) {
    .header-div {
        padding: 10px 50px;
    }
}

.arrivals {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.new-arrivals {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: blue;
}

.new-arrivals img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-card h2 {
    padding:30px 10px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
}

.section-card a {
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #8b6f47;
    text-decoration: none;
}

.arrivals h3 {
    font-size: 11px;
    font-family: 'Outfit', sans-serif;
    color: #888;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px 0px 5px;
}

.arrivals h1 {
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    margin: 0px 0px 6px;
}

.arrivals p {
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    color: #8b6f47;
}

.quick-add {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    z-index: 1;
    padding: 10px;
    border-style: none;
    transform: translateY(100%);
}

.product-card:hover .quick-add {
    transform: translateY(0);
    transition: .2s;
}

.product-card em {
    text-decoration: line-through;
    color: #888;
    margin: 0 0 0 7px;

}

@media (min-width:576px) {
    .new-arrivals {
        height: 400px;
    }

    .arrivals {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:766px) {
    .new-arrivals {
        height: 400px;
    }

    .arrivals {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1015px) {
    .new-arrivals {
        height: 500px;
    }

    .arrivals {
        grid-template-columns: repeat(4, 1fr);
    }
}